<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.smm.start-c2c</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/exhibits/Desktop/c2c/start-c2c.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/c2c-error.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/c2c-report.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/exhibits/Desktop/c2c</string>
</dict>
</plist>
